<h1>Articles</h1>

<ul id="articles">
	<% @articles.each do |article| %>
	<%= link_to 'Create A New Article', new_article_path, class: 'new-article' %>
	<li><%= link_to article.title, article_path(article), class: 'article-title' %></li>
	<% end %>
</ul>

